@charset "UTF-8";
@import "../util";

//default
html{
    font-size: $body-fz;
    font-weight: 400;
    line-height: $line-height;
    color: $base-color;

    &[lang="ko-KR"], &[lang="ko"]{
        font-family: $font-family-ko;
    }
}

/* font */
.tit{
    &-xxl{
        font-size: 5.6rem;
    }
    &-xl{
        font-size: 4.8rem;
    }
    &-l{
        font-size: 4.6rem;
    }
    &-m{
        font-size: 4rem;
    }
    &-s{
        font-size: 3.4rem;
    }
    &-xs{
        font-size: 3.2rem;
    }
    &-xxs{
        font-size: 2.4rem;
    }
}
.txt{
    &-l{
        font-size: 2.4rem;
    }
    &-m{
        font-size: 2rem;
    }
    &-s{
        font-size: 1.8rem;
    }
}

/* blind */
.blind {
    @include blind();
}

/* space */
$position: (t:top, b:bottom, r:right, l: left);
$total: 10;
@each $abbr, $pos in $position {
  @for $i from 0 to $total {
    .m#{$abbr}-#{$i} {margin-#{$pos}: $i*1rem !important;}
    .p#{$abbr}-#{$i} {padding-#{$pos}: $i*1rem !important;}
  }
}

@media screen and (max-width: 360px) {
    @each $abbr, $pos in $position {
      @for $i from 0 to $total {
        .m#{$abbr}-#{$i} {margin-#{$pos}: $i*2.78vw !important;}
        .p#{$abbr}-#{$i} {padding-#{$pos}: $i*2.78vw !important;}
      }
    }
}

/* font-style */
.fw-normal{font-weight: 400 !important;}
.fw-medium{font-weight: 500 !important;}
.fw-bold{font-weight: 700 !important;}

/* common */
img{width: 100%;}
.txt-al-center{text-align: center !important;}
.c-gray{color: var(--color-gray-4) !important;}
.c-gray2{color: var(--color-gray-6) !important;}
.pc-only{display: flex !important;}
.mob-only{display: none !important;}

.flex{display: flex;}
.justify-between{justify-content: space-between;}
.align-center{align-items: center;}
.direction{flex-direction: column;}
.order1{order: 1;}

.ml-auto{margin-left: auto;}

@media screen and (max-width: 720px) {
    .pc-only{display: none !important;}
    .mob-only{display: flex !important;}
}