@charset "UTF-8";
@import "./base";
@import "./component";

//space
$position: (t:top, b:bottom, r:right, l: left);
$total: 10;
@each $abbr, $pos in $position {
  @for $i from 0 to $total {
    .m#{$abbr}-#{$i} {margin-#{$pos}: $i*1rem !important;}
    .p#{$abbr}-#{$i} {padding-#{$pos}: $i*1rem !important;}
  }
}

// @media all and (max-width:720px){
//   @each $abbr, $pos in $position {
//     @for $i from 0 to $total {
//       .m#{$abbr}-#{$i} {margin-#{$pos}: $i*1.39vw !important;}
//       .p#{$abbr}-#{$i} {padding-#{$pos}: $i*1.39vw !important;}
//     }
//   }
// }


// header
.header{
    position: sticky;
    top: 0;
    width: 100%;
    padding: 3rem 0;
    border-bottom: 0.1rem solid var(--color-border-white);
    background-color: #ddd;
    z-index: 2;
    
    > .inner{
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    > .inner:nth-of-type(2){
        display: none;
    }

    .btn-back{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 2.4rem;
        height: 2.4rem;
        @include bg('/icon/ico-back.png');
    }
    .h-tit{
        padding: 0 calc(2.4rem + 1.2rem);
        width: 100%;
        text-align: center;
        font-size: var(--text-body-xsmall);
        font-weight: 500;
    }
    .logo{
        a{
            display: block;
            width: 13.2rem;
            height: 2rem;
            @include bg('content/logo.png');
        }
    }
    .nav{
        display: flex;
        align-items: center;
        gap: 6rem;
        margin-left: 6rem;
        font-size: var(--text-body-small);
        font-weight: 500;
        color: var(--color-gray-11);
    }
    .util{
        display: flex;
        align-items: center;
        gap: 3rem;
        margin-left: auto;
        font-size: var(--text-body-xsmall);
        color: var(--color-gray-8);
    }
}

//footer
.footer{
    padding: 8rem 0;
    text-align: center;
    background-color: var(--color-gray-8);

    .logo{
        a{
            display: block;
            margin: 0 auto 2rem;
            width: 15.9rem;
            height: 2.4rem;
            @include bg('content/logo-w.png');
        }
    }

    .info-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.6rem 2rem;
        font-size: var(--text-body-xxxsmall);
        color: var(--color-white);
        opacity: 0.7;

        .strong{
            display: inline-block;
            margin-right: 0.4rem;
            font-weight: 700;
        }

        li{
            &.full{
                width: 100%;
            }
        }
    }
}


.wrap{
    &.layout-small{
        background-color: var(--color-gray-2);

        .container{
            position: relative;
            margin: 0 auto;
            max-width: 42rem;
            width: 100%;
        }

        .header{
            justify-content: center;
            padding: 0 2rem;
            height: 5rem;
            border-bottom-color: var(--color-border-basic);
            background-color: var(--color-white);

            > .inner:nth-of-type(1){
                display: none;
            }
            > .inner:nth-of-type(2){
                display: flex;
                align-items: center;
                padding: 0;
            }
        }

        .contents{
            position: relative;
            overflow-y: auto;
            height: calc(100vh - 5rem);
            padding: 0 2rem;
            // padding-bottom: 10.6rem;
            background-color: var(--color-white);

            section{
                padding-top: 6rem;

                &:last-of-type{
                    padding-bottom: 6rem;
                }
            }
            .btn-fixed{
                max-width: 42rem;
            }
        }
    }
}

//common
section{
    .sec-tit{
        margin-bottom: 6rem;

        .tit{
            font-size: var(--text-title-xxxlarge);
            font-weight: 700;
        }
        .sub-desc{
            margin-top: 1rem;
            font-size: var(--text-body-xsmall);
            color: var(--color-gray-8);
        }

        &.small{
            margin-bottom: 4rem;

            .tit{
                font-size: var(--text-title-xxsmall);
            }
        }

        &.medium{
            margin-bottom: 4rem;

            .tit{
                font-size: var(--text-body-xxlarge);
            }
        }
    }

    .complete-info{
        padding-top: 14rem;
        text-align: center;

        .txt{
            font-size: var(--text-title-xxsmall);
            font-weight: 600;
        }
        .sub-desc{
            margin-top: 1.2rem;
            font-size: var(--text-body-small);
            color: var(--color-gray-7);
            line-height: 1.5;
        }

        &::before{
            content: '';
            display: block;
            margin: 0 auto 2rem;
            width: 12rem;
            height: 12rem;
            @include bg('icon/ico-complete.png');
        }
    }
}

.inner{
    margin: 0 auto;
    padding: 0 4rem;
    max-width: 128rem;
    width: 100%;
}

.btn-fixed{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem 2rem 3rem;
    // max-width: 42rem;
    width: 100%;
    background-color: var(--color-white);
}

.fixed-top-banner{
    position: sticky;
    top: 0;
    width: 100%;
    height: 5.4rem;
    font-size: var(--text-body-xsmall);
    color: var(--color-gray-11);
    background-color: var(--color-yellow-3);
    z-index: 2;

    .inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    + .header{
        top: 5.3rem;
    }
}

.txt-al-center{
    text-align: center !important;
}