@charset "UTF-8";
@import "./base";
@import "./component";

// header
.header{
    position: sticky;
    top: 0;
    width: 100%;
    padding: 3rem 0;
    border-bottom: 0.1rem solid var(--color-border-basic);
    background-color: var(--color-white);
    z-index: 2;
    
    > .inner{
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    > .inner:nth-of-type(2){
        display: none;
    }

    .btn-back{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 2.4rem;
        height: 2.4rem;
        @include bg('/icon/ico-back.png');
    }
    .h-tit{
        padding: 0 calc(2.4rem + 1.2rem);
        width: 100%;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 500;
    }
    .logo{
        a{
            display: block;
            width: 13.2rem;
            height: 2rem;
            @include bg('content/logo.png');
        }
    }
    .nav{
        display: flex;
        align-items: center;
        gap: 6rem;
        margin-left: 6rem;
        font-size: 1.8rem;
        font-weight: 500;
        color: var(--color-gray-11);
    }
    .util{
        display: flex;
        align-items: center;
        gap: 3rem;
        margin-left: auto;
        font-size: 1.6rem;
        color: var(--color-gray-8);

        .cart-count{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-top: -0.2rem;
            width: 1.4rem;
            height: 1.4rem;
            font-size: 1.1rem;
            font-weight: 700;
            vertical-align: middle;
            color: var(--color-white);
            border-radius: 50%;
            background-color: var(--color-red);
        }
    }

    &.gray{
        border-bottom-color: var(--color-border-white);
        background-color: #ddd;
    }

    &:not(.gray){
        > .inner:first-of-type{
            .nav{
                li.active{
                    &:hover{
                        color: var(--color-yellow-3);
                    }
                }
            }
        }
    }

    .mob-menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 83.3%;
        overflow-y: auto;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        z-index: 99;

        .dimd{
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: none;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: -1;
        }

        .menu-cont{
            min-height: 100vh;
            background-color: var(--color-white);
            transform: translateX(-100%);
            transition: transform 0.5s;
        }

        &.open{
            opacity: 1;
            visibility: visible;

            .dimd{
                display: block;
            }
            .menu-cont{
                transform: translateX(0);
            }
            .btn-close{
                opacity: 1;
                // transform: translateX(0);
            }
        }
        .menu-top{
            display: flex;
            align-items: center;
            // justify-content: space-between;
            padding: 1.6rem 2rem;
            min-height: 5.2rem;
            background-color: var(--color-yellow-3);

            .desc{
                font-size: 1.3rem;
                color: rgba(0, 0, 0, 0.6);
            }
            .name{
                font-size: 1.3rem;
                font-weight: 700;

                strong{
                    margin-right: 0.4rem;
                    font-size: 1.6rem;
                    font-weight: 500;
                }
            }
            .btn-login{
                margin-left: auto;
                font-size: 1.5rem;
                font-weight: 500;
            }
        }
        .mob-nav{
            li{
                a{
                    display: block;
                    padding: 1.6rem 2rem;
                    font-size: 1.6rem;
                }
            }
        }
        .mob-util{
            border-top: 0.1rem solid var(--color-border-basic);
            li{
                a{
                    display: block;
                    padding: 1.2rem 2rem;
                    color: var(--color-gray-5);
                    font-size: 1.4rem;
                }
            }
        }

        .btn-close{
            position: fixed;
            top: 1.4rem;
            left:  calc(83.3% + 0.8rem);
            width: 2.4rem;
            height: 2.4rem;
            @include bg('icon/ico-close-w.png');
            opacity: 0;
            transition: opacity 0.3s;
        }
    }
}

//footer
.footer{
    padding: 8rem 0;
    text-align: center;
    background-color: var(--color-gray-8);

    .logo{
        a{
            display: block;
            margin: 0 auto 2rem;
            width: 15.9rem;
            height: 2.4rem;
            @include bg('content/logo-w.png');
        }
    }

    .info-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.6rem 2rem;
        font-size: 1.4rem;
        color: var(--color-white);
        opacity: 0.7;

        .strong{
            display: inline-block;
            margin-right: 0.4rem;
            font-weight: 700;
        }

        li{
            &.full{
                width: 100%;
            }
        }
    }
}

.wrap{
    &.layout-small{
        background-color: var(--color-gray-2);

        .container{
            position: relative;
            margin: 0 auto;
            max-width: 42rem;
            width: 100%;
        }

        .header{
            justify-content: center;
            padding: 0 2rem;
            height: 5rem;

            > .inner:nth-of-type(1){
                display: none;
            }
            > .inner:nth-of-type(2){
                display: flex;
                align-items: center;
                padding: 0;
            }
        }

        .contents{
            position: relative;
            overflow-y: auto;
            height: calc(100vh - 5rem);
            padding: 0 2rem;
            background-color: var(--color-white);

            section{
                padding-top: 6rem;

                &:last-of-type{
                    padding-bottom: 6rem;
                }
            }
            .btn-fixed{
                max-width: 42rem;
            }
        }
    }
}

//common
section{
    .sec-tit{
        margin-bottom: 6rem;

        .tit{
            font-size: 6.4rem;
            font-weight: 700;
        }
        .sub-desc{
            margin-top: 1rem;
            font-size: 1.6rem;
            color: var(--color-gray-8);
        }

        &.small{
            margin-bottom: 4rem;

            .tit{
                font-size: 2.4rem;
            }
        }

        &.medium{
            margin-bottom: 4rem;

            .tit{
                font-size: 2.8rem;
            }
        }
    }

    .complete-info{
        padding-top: 8rem;
        text-align: center;

        .txt{
            font-size: 2.4rem;
            font-weight: 600;
        }
        .sub-desc{
            margin-top: 1.2rem;
            font-size: 1.8rem;
            color: var(--color-gray-7);
            line-height: 1.5;
        }

        &::before{
            content: '';
            display: block;
            margin: 0 auto 2rem;
            width: 12rem;
            height: 12rem;
            @include bg('icon/ico-complete.png');
        }
    }
}

.inner{
    margin: 0 auto;
    padding: 0 4rem;
    max-width: 128rem;
    width: 100%;
};

.btn-fixed{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem 2rem 3rem;
    // max-width: 42rem;
    width: 100%;
    background-color: var(--color-white);
}

.fixed-top-banner{
    position: sticky;
    top: 0;
    padding: 0.8rem 0;
    width: 100%;
    // height: 5.4rem;
    font-size: 1.6rem;
    color: var(--color-gray-11);
    background-color: var(--color-yellow-3);
    z-index: 2;

    .inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }
}

.fixed-bottom-banner{
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    border: 0.15rem solid var(--color-yellow-2);
    border-radius: 1rem;
    background-color: var(--color-white);
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(1.5rem);
    z-index: 2;

    .inner{
        display: flex;
        align-items: center;
        padding: 0;
    }

    .left{
        display: flex;
        gap: 1.6rem;
        padding: 0 2rem;

        .txt-wrap{
            letter-spacing: -0.04rem;

            .tit{
                font-weight: 700;
                font-size: 1.8rem;
            }
            .desc{
                font-size: 1.4rem;
            }
        }
    }
    .right{
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        padding: 1.6rem;
        border-left: 0.15rem solid var(--color-yellow-2);

        .tit{
            font-weight: 500;
            font-size: 1.4rem;
        }
        .tel{
            font-weight: 500;
            font-size: 1.6rem;
        }
        .desc{
            color: var(--color-gray-6);
            font-size: 1.2rem;
        }
    }
}

.chk-list{
    font-size: 1.6rem;

    li{
        display: flex;
        align-items: center;

        &::before{
            content: '';
            display: block;
            margin-right: 0.6rem;
            width: 1.6rem;
            height: 1.6rem;
            @include bg('icon/ico-check-active.png');
        }

        + li{
            margin-top: 1rem;
        }
    }
}

.info-txt{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-size: 1.4rem;
    color: var(--color-gray-5);
    line-height: 1;

    &::before{
        content: '';
        display: inline-block;
        width: 1.4rem;
        height: 1.4rem;
        @include bg('icon/ico-info.png');
    }
}

.page-tit{
    margin: 10rem 0 6rem;
    font-size: 4.6rem;
    text-align: center;

    .tit{
        font-weight: 700;
    }
}

.info-box-wrap{
    &.flex{
        justify-content: space-between;
        align-items: flex-start;

        .info-box{
            &:first-of-type{
                width: 53.7%;
            }
            &:last-of-type{
                width: 42.6%;
            }
            &:only-of-type{
                flex: 1 0 auto;
            }
        }
    }
}

.info-box{
    .box{
        padding: 2.4rem;
        border-radius: 1rem;
        border: 0.1rem solid var(--color-gray-3);

        + .box, + .btn-wrap{
            margin-top: 2rem;
        }
    }
    .box-top{
        display: flex;

        .tit{
            font-size: 1.8rem;
            font-weight: 700;
            color: var(--color-gray-10);

            span{
                font-weight: 500;
            }
        }
        &.line{
            padding-bottom: 1.6rem;
            border-bottom: 0.1rem solid var(--color-border-light);

            + .box-con{
                margin-top: 1.6rem;
            }
        }

        .btn{
            margin-left: auto;
        }

        + .box-con{
            margin-top: 2rem;
        }
    }
    .box-con{
        .tit{
            font-size: 1.6rem;
            font-weight: 700;
        }
        .desc{
            margin-top: 0.8rem;
            font-size: 1.6rem;
            color: var(--color-gray-7);
        }

        .product-list{
            li{
                display: flex;

                + li{
                    margin-top: 1.6rem;
                }
            }

            .img-wrap{
                overflow: hidden;
                position: relative;
                flex-shrink: 0;
                width: 18.8%;

                &::before{
                    content: '';
                    padding-top: 100%;
                    display: block;
                }
                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 100%;
                }
            }
            .txt-wrap{
                display: flex;
                flex-direction: column;
                margin-left: 0.8rem;
                line-height: 1;

                .tit{
                    font-weight: 500;
                }
                .desc{
                    font-size: 1.4rem;
                    color: var(--color-gray-8);

                    .price{
                        display: block;
                        margin-top: 0.8rem;
                    }
                }
            }
        }
        .input-wrap{
            .select{
                + .input{
                    margin-top: 1.6rem;
                }
            }
        }
        .summary-list{
            &::after{
                content: '';
                display: block;
                margin: 2.4rem 0;
                width: 100%;
                height: 0.1rem;
                background-color: var(--color-border-basic);
            }
            li{
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: var(--color-gray-7);
                font-size: 1.6rem;
                line-height: 1;

                + li{
                    margin-top: 1.6rem;
                }
            }
        }
        .total{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2.4rem;
            font-size: 2rem;
            font-weight: 700;
        }
    }
    .btn-wrap{
        .btn.large.primary{
            &:disabled{
                background-color: rgba(255, 226, 90, 0.5);
            }
        }
    }
}



@media screen and (max-width: 720px) {
    .header{
        padding: 1.6rem 0;

        .btn-menu{
            position: absolute;
            width: 3.2rem;
            height: 3.2rem;
            @include bg('icon/ico-menu.png', $size: 2.4rem);
        }
        .logo{
            margin: 0 auto;
            a{
                width: 10.6rem;
                height: 1.6rem;
            }
        }

        .nav{
            display: none;
        }
        .util{
            display: none;
        }
    }

    .footer{
        padding: 6rem 0;

        .logo{
            a{
                margin-bottom: 1.6rem;
                width: 15.9rem;
                height: 2.4rem;
            }
        }

        .info-list{
            gap: 0.8rem 2rem;
            font-size: 1.4rem;

            .strong{
                margin-right: 0.4rem;
            }
        }
    }

    section{
        .sec-tit{
            margin-bottom: 3rem;

            .tit{
                font-size: 4.8rem;
            }
        }

        .complete-info{
            // padding-top: 14rem;

            .txt{
                font-size: 2rem;
            }
            .sub-desc{
                font-size: 1.6rem;
            }

            &::before{
                margin: 0 auto 2rem;
                width: 8rem;
                height: 8rem;
            }
        }
    }

    .inner{
        padding: 0 2rem;
    }

    .fixed-top-banner{
        padding: 1.3rem 0;
        font-size: 1.3rem;
        font-weight: 500;

        .inner{
            justify-content: center;
        }

        .btn-wrap{
            display: none;
        }
    }

    .fixed-bottom-banner{
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        border-width: 0;
        border-radius: 0;

        .inner{
            display: flex;
            align-items: center;
            padding: 0;
        }

        .left{
            justify-content: space-between;
            gap: 1.2rem;
            padding: 1.6rem 2rem;
            width: 100%;

            .txt-wrap{
                .tit{
                    font-size: 1.6rem;
                }
                .desc{
                    margin-top: 0.5rem;
                    font-size: 1.3rem;
                }
            }
        }
        .right{
            display: none;
        }
    }

    .chk-list{
        font-size: 1.3rem;

        li{
            &::before{
                margin-right: 0.6rem;
                width: 1.6rem;
                height: 1.6rem;
            }

            + li{
                margin-top: 0.6rem;
            }
        }
    }

    .info-txt{
        justify-content: center;
        gap: 0.4rem;
        font-size: 1.2rem;
    }

    .page-tit{
        margin: 3rem 0 3.4rem;
        font-size: 2rem;
    }

    .pc-only{display: none !important;}
    .mob-only{display: flex !important;}
}

@media screen and (max-width: 360px) {
    .header {
        padding: 4.44vw 0;
        border-bottom-width: 0.28vw;

        .btn-menu {
            width: 8.89vw;
            height: 8.89vw;
            background-size: 6.67vw;
        }

        .btn-back{
            width: 6.67vw;
            height: 6.67vw;
        }
        .h-tit{
            padding: 0 calc(6.67vw + 3.33vw);
            font-size: 4.44vw;
        }
        .logo {
            a{
                width: 29.44vw;
                height: 4.44vw;
            }
        }
        .mob-menu{
            .menu-top{
                padding: 4.44vw 5.56vw;
                min-height: 14.44vw;

                .desc{
                    font-size: 3.61vw;
                }
                .name{
                    font-size: 3.61vw;

                    strong{
                        margin-right: 1.11vw;
                        font-size: 4.44vw;
                    }
                }
                .btn-login{
                    font-size: 4.17vw;
                }
            }
            .mob-nav{
                li{
                    a{
                        padding: 4.44vw 5.56vw;
                        font-size: 4.44vw;
                    }
                }
            }
            .mob-util{
                border-top-width: 0.28vw;
                li{
                    a{
                        padding: 3.33vw 5.56vw;
                        font-size: 3.89vw;
                    }
                }
            }

            .btn-close{
                top: 3.89vw;
                left:  calc(83.3% + 2.22vw);
                width: 6.67vw;
                height: 6.67vw;
            }
        }
    }

    .footer {
        padding: 16.67vw 0;

        .logo {
            a {
                margin-bottom: 4.44vw;
                width: 44.17vw;
                height: 6.67vw;
            }
        }

        .info-list {
            gap: 2.22vw 5.56vw;
            font-size: 3.89vw;

            .strong {
                margin-right: 1.11vw;
            }
        }
    }

    .wrap{
        &.layout-small{
            .container{
                max-width: 116.67vw;
            }

            .header{
                padding: 0 5.56vw;
                height: 13.89vw;
            }

            .contents{
                height: calc(100vh - 13.89vw);
                padding: 0 5.56vw;

                section{
                    padding-top: 16.67vw;

                    &:last-of-type{
                        padding-bottom: 16.67vw;
                    }
                }
                .btn-fixed{
                    max-width: 116.67vw;
                }
            }
        }
    }

    section {
        .sec-tit {
            margin-bottom: 8.33vw;

            .tit {
                font-size: 13.33vw;
            }

            .sub-desc {
                margin-top: 2.78vw;
                font-size: 4.44vw;
            }

            &.small {
                margin-bottom: 11.11vw;

                .tit {
                    font-size: 6.67vw;
                }
            }

            &.medium {
                margin-bottom: 11.11vw;

                .tit {
                    font-size: 7.78vw;
                }
            }
        }

        .complete-info {
            padding-top: 22.22vw;

            .txt {
                font-size: 5.56vw;
            }

            .sub-desc {
                margin-top: 3.33vw;
                font-size: 4.44vw;
            }

            &::before {
                margin-bottom: 5.56vw;
                width: 22.22vw;
                height: 22.22vw;
            }
        }
    }

    .inner {
        padding: 0 5.56vw;
    }

    .btn-fixed {
        padding: 5.56vw 5.56vw 8.33vw;
    }

    .fixed-top-banner {
        padding: 3.61vw 0;
        font-size: 3.61vw;
    }

    .fixed-bottom-banner {
        .left {
            gap: 3.33vw;
            padding: 4.44vw 5.56vw;

            .txt-wrap {
                .tit {
                    font-size: 4.44vw;
                }

                .desc {
                    margin-top: 1.39vw;
                    font-size: 3.61vw;
                }
            }
        }
    }

    .chk-list {
        font-size: 3.61vw;

        li {
            &::before {
                margin-right: 1.67vw;
                width: 4.44vw;
                height: 4.44vw;
            }

            + li {
                margin-top: 1.67vw;
            }
        }
    }

    .info-txt {
        gap: 1.11vw;
        font-size: 3.33vw;

        &::before{
            width: 3.89vw;
            height: 3.89vw;
        }
    }

    .page-tit{
        margin: 8.33vw 0;
        font-size: 5.56vw;
    }
}