.mypage-info{}
.mypage-info .menu-list{width: 16.6%;}
.mypage-info .menu-list li{line-height: 4.1rem;}
.mypage-info .menu-list li a{font-size: 1.6rem; color: var(--color-gray-7);}
.mypage-info .menu-list li.active a{font-weight: 700; color: var(--color-gray-11);}

.mypage-con{width: 83.4%;}
.mypage-con .intro-con{margin-bottom: 4rem; padding: 2.4rem; width: 100%; border: 0.1rem solid var(--color-gray-3); border-radius: 1rem; align-items: center;}
.mypage-con .intro-con .img-con{margin-right: 1.6rem; width: 8rem;}
.mypage-con .intro-con .txt-con h4{margin-bottom: 0.4rem; font-size: 1.8rem;}
.mypage-con .intro-con .txt-con h4 span{font-weight: 500;}
.mypage-con .intro-con .txt-con p{font-size: 1.4rem; color: var(--color-gray-4);}

.mypage-con .order-con{margin-bottom: 8.8rem;}
.mypage-con .order-con h4{margin-bottom: 2rem; font-size: 2rem; font-weight: 700;}
.mypage-con .order-con .order-list .empty{text-align: center; font-size: 1.4rem; color: var(--color-gray-4);}

.order-list .order-table{width: 100%; border-top: 0.1rem solid var(--color-gray-3); border-bottom: 0.1rem solid var(--color-gray-3);}
.order-list .order-table.pc-only{display: table !important;}
.order-list .order-table thead th{padding: 1.2rem 0; font-size: 1.7rem; font-weight: 400; border-bottom: 0.1rem solid var(--color-gray-3);}
.order-list .order-table tbody tr{cursor: pointer;}
.order-list .order-table tbody td{padding: 1.6rem 0.8rem; font-size: 1.6rem; text-align: center; border-bottom: 0.1rem solid var(--color-gray-3);}
.order-list .order-table tbody tr:hover td{background-color: var(--color-gray-2);}
.order-list .order-table tbody td.date{font-size: 1.4rem;}
.order-list .order-table tbody td.date span{display: block; margin-bottom: 0.4rem; color: var(--color-gray-6);}
.order-list .order-table tbody td.product{text-align: left;}
.order-list .order-table tbody td.product .img-con{margin-right: 0.8rem; width: 8rem;}
.order-list .order-table tbody td.product dl{width: calc(100% - 8rem);}
.order-list .order-table tbody td.product dl dt{margin-bottom: 0.4rem; font-size: 1.4rem; font-weight: 700;}
.order-list .order-table tbody td.product dl dd{font-size: 1.3rem; color: var(--color-gray-8);}
.order-list .order-table tbody td.dispatch dl{margin-top: 0.6rem;}
.order-list .order-table tbody td.dispatch dl dt{margin-bottom: 0.6rem; font-size: 1.3rem; font-weight: 400; color: var(--color-gray-6);}
.order-list .order-table tbody td.dispatch dl dt span{display: block; margin-top: 0.4rem;}
.order-list .order-table tbody td.dispatch dl dd button{width: 6.9rem; height: 3.2rem; font-size: 1.4rem; font-weight: 500; background-color: var(--color-gray-0); border: 0.1rem solid var(--color-gray-3-2); border-radius: 0.6rem;}


@media screen and (max-width: 1200px) {
    .order-list .order-table thead th{padding: 1rem 0; font-size: 1.4rem;}
    .order-list .order-table tbody td{padding: 1.2rem 0.4rem; font-size: 1.3rem;}
    .order-list .order-table tbody td.date{font-size: 1.2rem;}
    .order-list .order-table tbody td.product dl dt{font-size: 1.2rem;}
    .order-list .order-table tbody td.product dl dd{font-size: 1.1rem;}
    .order-list .order-table tbody td.dispatch dl dt{font-size: 1.1rem;}
    .order-list .order-table tbody td.dispatch dl dd button{width: 6rem; height: 2.9rem; font-size: 1.2rem;}
}

@media screen and (max-width: 960px) {
    .mypage-info .menu-list li{line-height: 3.5rem;}
    .mypage-info .menu-list li a{font-size: 1.4rem;}
}

@media screen and (max-width: 720px) {
    .mypage-info{display: block;}
    .mypage-info .menu-list{display: flex; margin-left: -2rem; width: calc(100% + 4rem);}
    .mypage-info .menu-list li{width: 33.33%; line-height: 1;}
    .mypage-info .menu-list li a{display: block; width: 100%; line-height: 4.1rem; text-align: center; font-size: 1.4rem; color: var(--color-gray-7);}
    .mypage-info .menu-list li.active a{font-weight: 700; color: var(--color-gray-11); border-bottom: 0.2rem solid var(--color-gray-11);}

    .mypage-con{margin-left: -2rem; width: calc(100% + 4rem);}
    .mypage-con .intro-con{margin-bottom: 0; padding: 2.4rem; width: 100%; border: none; border-top: 0.1rem solid var(--color-gray-2); border-bottom: 0.6rem solid var(--color-gray-2); border-radius: 0; align-items: center;}
    .mypage-con .intro-con .img-con{margin-right: 1.6rem; width: 6.4rem;}
    .mypage-con .intro-con .txt-con h4{font-size: 1.6rem;}
    .mypage-con .intro-con .txt-con p{font-size: 1.2rem;}

    .mypage-con .order-con{margin-bottom: 0; padding: 2.4rem 2rem;}
    .mypage-con .order-con h4{margin-bottom: 0; font-size: 1.5rem;}
    .mypage-con .order-con .order-list .empty{font-size: 1.2rem;}

    .order-list .order-table{border: none; flex-direction: column;}
    .order-list .order-table.pc-only{display: none !important;}
    .order-list .order-table .order-data{margin-top: 2rem; width: 100%;}
    .order-list .order-table .order-data .date-con{display: flex; justify-content: space-between; align-items: center; margin-bottom: 0.8rem;}
    .order-list .order-table .order-data .date-con p{font-size: 1.6rem; font-weight: 400; color: var(--color-gray-11);}
    .order-list .order-table .order-data .date-con a{display: flex; align-items: center; font-size: 1.4rem; color: var(--color-gray-6);}
    .order-list .order-table .order-data .date-con a::after{content:''; display: block; margin-left: 0.2rem; width: 1.4rem; height: 1.4rem; background: url(../img/icon/ico_arrow_link.png) no-repeat center/100%;}
    .order-list .order-table .order-data .product-list{}
    .order-list .order-table .order-data .product-list .product{display: flex; margin-bottom: 0.8rem; padding: 1.2rem; border: 0.1rem solid var(--color-gray-2); border-radius: 0.8rem;}
    .order-list .order-table .order-data .product-list .product .img-con{margin-right: 0.8rem; max-width: 6.4rem; width: 21.6%;}
    .order-list .order-table .order-data .product-list .product dl{width: 78.4%;}
    .order-list .order-table .order-data .product-list .product dl dt strong{display: block; margin-bottom: 0.2rem; font-size: 1.2rem; font-weight: 700;}
    .order-list .order-table .order-data .product-list .product dl dt span{font-size: 1.1rem; color: var(--color-gray-8);}
    .order-list .order-table .order-data .product-list .product dl dd{margin-top: 0.2rem; font-size: 1.1rem; color: var(--color-gray-8);}
    .order-list .order-table .order-data .dispatch-con{}
    .order-list .order-table .order-data .dispatch-con .stat{width: 100%; line-height: 3.2rem; font-size: 1.4rem; font-weight: 500; text-align: center; color: var(--color-gray-5); border-radius: 0.6rem; background-color: var(--color-gray-2);}
    .order-list .order-table .order-data .dispatch-con button{margin-top: 0.8rem; width: 100%; height: 3.2rem; font-size: 1.4rem; font-weight: 500; text-align: center; color: var(--color-gray-8); border-radius: 0.6rem; border: 0.1rem solid var(--color-gray-3-2);}
}


@media screen and (max-width: 360px) {
    .mypage-info .menu-list{margin-left: -5.56vw; width: calc(100% + 11.11vw);}
    .mypage-info .menu-list li a{line-height: 11.39vw; font-size: 3.89vw;}

    .mypage-con{margin-left: -5.56vw; width: calc(100% + 11.11vw);}
    .mypage-con .intro-con{padding: 6.67vw; border-bottom: 1.67vw solid var(--color-gray-2);}
    .mypage-con .intro-con .img-con{margin-right: 4.44vw; width: 17.78vw;}
    .mypage-con .intro-con .txt-con h4{font-size: 4.44vw;}
    .mypage-con .intro-con .txt-con p{font-size: 3.33vw;}

    .mypage-con .order-con{padding: 6.67vw 5.56vw;}
    .mypage-con .order-con h4{font-size: 4.17vw;}
    .mypage-con .order-con .order-list .empty{font-size: 3.33vw;}

    .order-list .order-table .order-data{margin-top: 5.56vw;}
    .order-list .order-table .order-data .date-con{margin-bottom: 2.22vw;}
    .order-list .order-table .order-data .date-con p{font-size: 4.44vw;}
    .order-list .order-table .order-data .date-con a{font-size: 3.89vw;}
    .order-list .order-table .order-data .date-con a::after{margin-left: 0.56vw; width: 3.89vw; height: 3.89vw;}
    .order-list .order-table .order-data .product-list .product{margin-bottom: 2.22vw; padding: 3.33vw; border-radius: 2.22vw;}
    .order-list .order-table .order-data .product-list .product .img-con{margin-right: 2.22vw; max-width: 17.78vw;}
    .order-list .order-table .order-data .product-list .product dl dt strong{margin-bottom: 0.56vw; font-size: 3.33vw;}
    .order-list .order-table .order-data .product-list .product dl dt span{font-size: 3.06vw;}
    .order-list .order-table .order-data .product-list .product dl dd{margin-top: 0.56vw; font-size: 3.06vw;}
    .order-list .order-table .order-data .dispatch-con .stat{line-height: 8.89vw; font-size: 3.89vw; border-radius: 1.67vw;}
    .order-list .order-table .order-data .dispatch-con button{margin-top: 2.22vw; height: 8.89vw; font-size: 3.89vw; border-radius: 1.67vw;}
}