.wrap.main section:not(.sec-kv) {
  display: flex;
  align-items: center;
}
.wrap.main section:not(.sec-kv) .tit-wrap {
  color: var(--color-white);
  text-align: center;
}
.wrap.main section:not(.sec-kv) .tit-wrap .tit {
  font-size: 4.6rem;
  font-weight: 700;
}
.wrap.main section:not(.sec-kv) .tit-wrap .desc {
  margin-top: 1.6rem;
  font-size: 2.6rem;
  line-height: 1.5;
}
.wrap.main section.sec-kv {
  height: 71rem;
  background: url(../img/content/main-visual.jpg) no-repeat center/cover;
}
.wrap.main section.sec-kv .tit-wrap {
  padding-top: 15rem;
}
.wrap.main section.sec-kv .tit-wrap .sub-txt {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-gray-9);
}
.wrap.main section.sec-kv .tit-wrap .sub-txt + .tit {
  margin-top: 0.8rem;
}
.wrap.main section.sec-kv .tit-wrap .tit {
  font-size: 4.8rem;
  font-weight: 700;
  color: var(--color-gray-9);
  line-height: 1.3;
}
.wrap.main section.sec-kv .tit-wrap .tit + .desc {
  margin-top: 1.6rem;
}
.wrap.main section.sec-kv .tit-wrap .desc {
  font-size: 2rem;
  color: var(--color-gray-6);
}
.wrap.main section.sec-kv .tit-wrap + .btn {
  margin-top: 3rem;
}
.wrap.main section.sec-01 {
  height: 84rem;
  background: url(../img/content/main-sec01.jpg) no-repeat center/cover;
}
.wrap.main section.sec-02 {
  height: 84rem;
  background: url(../img/content/main-sec02.jpg) no-repeat center/cover;
}
.wrap.main section.sec-02 .tit-wrap .tit {
  font-size: 5.6rem;
  color: var(--color-yellow-3);
}
.wrap.main section.sec-02 .tit-wrap .num {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  font-size: 13rem;
  font-weight: 700;
}
.wrap.main section.sec-02 .tit-wrap .num .unit {
  font-size: 8rem;
}
.wrap.main section.sec-03 {
  height: 84rem;
  background: url(../img/content/main-sec03.jpg) no-repeat center/cover;
}
.wrap.main section.sec-03 .tit-wrap {
  color: var(--color-white);
}
.wrap.main section.sec-03 .tit-wrap .tit {
  font-size: 5.6rem;
}
.wrap.main section.sec-03 .tit-wrap .desc {
  margin-top: 2rem;
  font-size: 12rem;
  font-weight: 700;
  color: var(--color-yellow-3);
}
.wrap.main section.sec-04 {
  padding: 12rem 0;
}
.wrap.main section.sec-04 .inner {
  max-width: 108rem;
}
.wrap.main section.sec-04 .step-list li {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.wrap.main section.sec-04 .step-list li:nth-of-type(2n) .img-wrap {
  order: 1;
}
.wrap.main section.sec-04 .step-list li + li {
  margin-top: 8rem;
}
.wrap.main section.sec-04 .step-list .img-wrap {
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  width: 42%;
  border-radius: 1.6rem;
}
.wrap.main section.sec-04 .step-list .img-wrap::before {
  content: "";
  padding-top: 171%;
  display: block;
}
.wrap.main section.sec-04 .step-list .img-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
.wrap.main section.sec-04 .step-list .txt-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
}
.wrap.main section.sec-04 .step-list .txt-wrap .tag {
  font-size: 2rem;
  font-weight: 700;
}
.wrap.main section.sec-04 .step-list .txt-wrap .tit {
  font-size: 4rem;
  font-weight: 700;
}
.wrap.main section.sec-04 .step-list .txt-wrap .desc {
  font-size: 2.6rem;
  color: var(--color-gray-8);
  line-height: 1.5;
}
.wrap.main section.sec-05 {
  height: 40rem;
  background: url(../img/content/main-sec05.jpg) no-repeat center/cover;
}
.wrap.main section.sec-05 .tit-wrap {
  color: var(--color-yellow-3);
}
.wrap.main section.sec-05 .tit-wrap .tit {
  font-size: 6.4rem;
}
.wrap.main section.sec-06 {
  background-color: var(--color-yellow-1);
}
.wrap.main section.sec-06 .inner {
  max-width: 108rem;
}
.wrap.main section.sec-06 .list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
  padding: 6.8rem 0;
}
.wrap.main section.sec-06 .list li:nth-of-type(2n) .img-wrap {
  order: -1;
}
.wrap.main section.sec-06 .txt-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.wrap.main section.sec-06 .txt-wrap .tit {
  font-size: 4.8rem;
  font-weight: 700;
}
.wrap.main section.sec-06 .txt-wrap .desc {
  font-size: 2.6rem;
}
.wrap.main section.sec-06 .img-wrap {
  flex-shrink: 0;
  width: 32rem;
}
.wrap.main section.sec-07 {
  padding: 14rem 0;
  background-color: var(--color-yellow-0);
}
.wrap.main section.sec-07 .review-swiper {
  padding: 0 7.2rem;
}
.wrap.main section.sec-07 .review-swiper .swiper-btn-wrap .swiper-button-prev {
  left: 0;
  width: 5.2rem;
  height: 5.2rem;
  background: url(../img/icon/ico-prev.png) no-repeat center/cover;
}
.wrap.main section.sec-07 .review-swiper .swiper-btn-wrap .swiper-button-prev::after {
  display: none;
}
.wrap.main section.sec-07 .review-swiper .swiper-btn-wrap .swiper-button-next {
  right: 0;
  width: 5.2rem;
  height: 5.2rem;
  background: url(../img/icon/ico-next.png) no-repeat center/cover;
}
.wrap.main section.sec-07 .review-swiper .swiper-btn-wrap .swiper-button-next::after {
  display: none;
}
.wrap.main section.sec-07 .review-item a {
  display: block;
  padding: 3rem;
  background-color: var(--color-white);
  border: 0.1rem solid var(--color-yellow-3);
}
.wrap.main section.sec-07 .review-item .img-wrap {
  overflow: hidden;
  position: relative;
  border-radius: 1.6rem;
}
.wrap.main section.sec-07 .review-item .img-wrap::before {
  content: "";
  padding-top: 93.3%;
  display: block;
}
.wrap.main section.sec-07 .review-item .img-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
.wrap.main section.sec-07 .review-item .txt-wrap {
  margin-top: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
}
.wrap.shop .page-tit .tit {
  margin-bottom: 8rem;
  font-size: 4.6rem;
  font-weight: 700;
  text-align: center;
}
.wrap.shop .sec-kv {
  padding: 10rem 0 16rem;
}
.wrap.shop .sec-kv .link-list {
  display: flex;
  justify-content: center;
  gap: 4rem;
  text-align: center;
}
.wrap.shop .sec-kv .link-list li {
  width: 41.2rem;
}
.wrap.shop .sec-kv .link-list .img-wrap {
  overflow: hidden;
  position: relative;
}
.wrap.shop .sec-kv .link-list .img-wrap::before {
  content: "";
  padding-top: 100%;
  display: block;
}
.wrap.shop .sec-kv .link-list .img-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
.wrap.shop .sec-kv .link-list .txt-wrap {
  margin-top: 2.4rem;
}
.wrap.shop .sec-kv .link-list .txt-wrap .tit {
  font-size: 3.2rem;
}
.wrap.shop .sec-kv .link-list .txt-wrap .tit strong {
  font-weight: 700;
}
.wrap.shop .sec-kv .link-list .txt-wrap .price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 1rem;
}
.wrap.shop .sec-kv .link-list .txt-wrap .price .fee {
  font-size: 2.8rem;
  color: var(--color-gray-9);
}
.wrap.shop .sec-kv .link-list .txt-wrap .price .origin {
  font-size: 1.8rem;
  color: var(--color-gray-5);
  text-decoration: line-through;
}
.wrap.shop-detail .sec-kv {
  padding: 10rem 0;
}
.wrap.shop-detail .sec-kv .inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 108rem;
}
.wrap.shop-detail .sec-kv .left-box {
  overflow: hidden;
  width: 53.7%;
  border-radius: 1rem;
}
.wrap.shop-detail .sec-kv .left-box .img-wrap {
  overflow: hidden;
  position: relative;
}
.wrap.shop-detail .sec-kv .left-box .img-wrap::before {
  content: "";
  padding-top: 58.6%;
  display: block;
}
.wrap.shop-detail .sec-kv .left-box .img-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
.wrap.shop-detail .sec-kv .left-box .txt-wrap {
  padding: 3.2rem 4rem;
  background-color: #fafafa;
}
.wrap.shop-detail .sec-kv .left-box .txt-wrap .tit {
  font-size: 3.4rem;
}
.wrap.shop-detail .sec-kv .left-box .txt-wrap .tit strong {
  font-weight: 700;
}
.wrap.shop-detail .sec-kv .left-box .txt-wrap .tit::after {
  content: "";
  display: block;
  margin: 3.2rem 0;
  width: 100%;
  height: 0.1rem;
  background-color: var(--color-border-basic);
}
.wrap.shop-detail .sec-kv .left-box .txt-wrap .info {
  font-size: 1.8rem;
  font-weight: 500;
}
.wrap.shop-detail .sec-kv .left-box .txt-wrap .info .chk-list {
  margin-top: 1rem;
  font-weight: 400;
}
.wrap.shop-detail .sec-kv .left-box .txt-wrap .plan-list {
  margin-top: 3.2rem;
}
.wrap.shop-detail .sec-kv .left-box .txt-wrap .plan-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.2rem;
  color: var(--color-gray-10);
  background-color: var(--color-white);
  border: 0.1rem solid var(--color-border-light);
}
.wrap.shop-detail .sec-kv .left-box .txt-wrap .plan-list li .period {
  font-size: 2.8rem;
  font-weight: 700;
}
.wrap.shop-detail .sec-kv .left-box .txt-wrap .plan-list li .price-wrap {
  text-align: right;
}
.wrap.shop-detail .sec-kv .left-box .txt-wrap .plan-list li .price-wrap .price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 3.4rem;
  font-weight: 700;
}
.wrap.shop-detail .sec-kv .left-box .txt-wrap .plan-list li .price-wrap .price .unit {
  margin-left: 0.4rem;
  font-size: 2.4rem;
}
.wrap.shop-detail .sec-kv .left-box .txt-wrap .plan-list li .price-wrap .discount {
  margin-top: 0.6rem;
  font-size: 1.8rem;
  color: var(--color-gray-4);
  line-height: 1;
}
.wrap.shop-detail .sec-kv .left-box .txt-wrap .plan-list li .price-wrap .discount span + span::before {
  content: "";
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  margin: 0 0.2rem 0.25rem;
  vertical-align: middle;
  background: url(../img/icon/ico-arrow-right.png) no-repeat center/cover;
}
.wrap.shop-detail .sec-kv .left-box .txt-wrap .plan-list li + li {
  margin-top: 2rem;
}
.wrap.shop-detail .sec-kv .right-box {
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 42.6%;
  font-size: 1.4rem;
  color: var(--color-gray-7);
  border: 0.1rem solid var(--color-border-basic);
  border-radius: 1rem;
}
.wrap.shop-detail .sec-kv .right-box .info-list li strong {
  display: inline-block;
  margin-right: 0.8rem;
  font-weight: 700;
}
.wrap.shop-detail .sec-kv .right-box .info-list li + li {
  margin-top: 1.6rem;
}
.wrap.shop-detail .sec-kv .right-box .order-box {
  position: relative;
  padding: 2.4rem;
  background-color: var(--color-yellow-0);
}
.wrap.shop-detail .sec-kv .right-box .order-box .name {
  padding-right: 2.6rem;
  color: var(--color-gray-8);
}
.wrap.shop-detail .sec-kv .right-box .order-box .info-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.6rem;
  padding-top: 1.6rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.wrap.shop-detail .sec-kv .right-box .order-box .info-bottom .count {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  height: 3.4rem;
  border: 0.1rem solid var(--color-border-basic);
  border-radius: 0.4rem;
  background-color: var(--color-white);
}
.wrap.shop-detail .sec-kv .right-box .order-box .info-bottom .count .num {
  padding: 0 1.2rem;
  max-width: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wrap.shop-detail .sec-kv .right-box .order-box .info-bottom .count [class*=btn-] {
  width: 3.4rem;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.6rem;
}
.wrap.shop-detail .sec-kv .right-box .order-box .info-bottom .count .btn-minus {
  border-right: 0.1rem solid var(--color-border-basic);
  background-image: url(../img/icon/ico-minus.png);
}
.wrap.shop-detail .sec-kv .right-box .order-box .info-bottom .count .btn-plus {
  border-left: 0.1rem solid var(--color-border-basic);
  background-image: url(../img/icon/ico-plus.png);
}
.wrap.shop-detail .sec-kv .right-box .order-box .info-bottom .price {
  font-size: 1.6rem;
  font-weight: 500;
}
.wrap.shop-detail .sec-kv .right-box .order-box .btn-del {
  position: absolute;
  top: 2.45rem;
  right: 2.4rem;
  width: 1.6rem;
  height: 1.6rem;
  background: url(../img/icon/ico-del.png) no-repeat center/cover;
}
.wrap.shop-detail .sec-kv .right-box .total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  font-size: 1.6rem;
}
.wrap.shop-detail .sec-kv .right-box .total .price {
  font-size: var(--text-body-);
  font-weight: 700;
  color: var(--color-gray-9);
}
.wrap.shop-detail .sec-01 .txt-wrap {
  padding: 6rem 0;
  text-align: center;
  color: var(--color-white);
  background: url(../img/content/shop-sec01-02.jpg) no-repeat center/cover;
}
.wrap.shop-detail .sec-01 .txt-wrap .tit {
  font-size: 3.2rem;
}
.wrap.shop-detail .sec-01 .txt-wrap .price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  font-size: 2.8rem;
  font-weight: 700;
}
.wrap.shop-detail .sec-01 .txt-wrap .price .origin {
  display: inline-block;
  margin-left: 1rem;
  opacity: 0.6;
  font-size: 2.4rem;
  font-weight: 400;
  text-decoration: line-through;
}
.wrap.shop-detail .sec-01 .txt-wrap .desc {
  margin-top: 2.4rem;
  font-size: 2rem;
}
.wrap.shop-detail .sec-01 .txt-wrap .btn.primary {
  margin-top: 2.4rem;
  width: 20rem;
}
.wrap.shop-detail .sec-02 {
  position: relative;
  background: url(../img/content/shop-sec02.jpg) no-repeat center right 30%/cover;
  height: 90rem;
}
.wrap.shop-detail .sec-02 .txt-wrap {
  padding-top: 26rem;
  color: var(--color-gray-8);
}
.wrap.shop-detail .sec-02 .txt-wrap .sub-tit {
  display: inline-block;
  margin-bottom: 4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
}
.wrap.shop-detail .sec-02 .txt-wrap .tit {
  font-size: 4rem;
  line-height: 1.5;
}
.wrap.shop-detail .sec-02 .txt-wrap .note-txt {
  position: absolute;
  bottom: 5rem;
  font-size: 1.6rem;
  color: var(--color-gray-5);
}
.wrap.shop-detail .sec-03 .inner {
  padding-top: 12rem;
  padding-bottom: 12rem;
  max-width: 80rem;
}
.wrap.shop-detail .sec-03 .info-list li + li {
  margin-top: 12rem;
}
.wrap.shop-detail .sec-03 .info-list .txt-wrap {
  color: var(--color-gray-9);
}
.wrap.shop-detail .sec-03 .info-list .txt-wrap .tit {
  font-size: 3rem;
}
.wrap.shop-detail .sec-03 .info-list .txt-wrap .tit::before {
  content: "";
  display: block;
  margin-bottom: 2rem;
  width: 1rem;
  height: 1rem;
  background-color: var(--color-gray-9);
}
.wrap.shop-detail .sec-03 .info-list .txt-wrap .desc {
  margin-top: 2rem;
  font-size: 1.6rem;
}
.wrap.shop-detail .sec-03 .info-list .img-wrap {
  margin-top: 3.5rem;
}
.wrap.shop-detail .sec-03 .certificate {
  display: flex;
  align-items: center;
  margin-top: 12rem;
  padding: 3.1rem 5.3rem;
  background-color: #F8F8F8;
}
.wrap.shop-detail .sec-03 .certificate::before {
  content: "";
  display: block;
  flex-shrink: 0;
  margin-right: 4rem;
  width: 17.6rem;
  height: 23.8rem;
  background: url(../img/content/shop-sec04-certificate.png) no-repeat center/cover;
}
.wrap.shop-detail .sec-03 .certificate .txt-wrap {
  width: 100%;
}
.wrap.shop-detail .sec-03 .certificate .txt-wrap .tit {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-gray-9);
}
.wrap.shop-detail .sec-03 .certificate .txt-wrap .tit .sub {
  margin-bottom: 0.6rem;
  font-size: 2.4rem;
  font-weight: 400;
}
.wrap.shop-detail .sec-03 .certificate .txt-wrap .desc {
  margin-top: 1.6rem;
  font-size: 1.6rem;
  color: var(--color-gray-8);
}
.wrap.shop-detail .sec-03 .certificate .txt-wrap .desc.small {
  font-size: 1.4rem;
}
.wrap.shop-detail .sec-04 {
  display: flex;
}
.wrap.shop-detail .sec-04 .img-wrap {
  overflow: hidden;
  position: relative;
  width: 50%;
}
.wrap.shop-detail .sec-04 .img-wrap::before {
  content: "";
  padding-top: 78.75%;
  display: block;
}
.wrap.shop-detail .sec-04 .img-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
.wrap.shop-detail .sec-04 .txt-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 4rem 8rem;
  box-sizing: border-box;
  background-color: var(--color-yellow-1);
}
.wrap.shop-detail .sec-04 .txt-wrap .tit {
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  font-weight: 700;
}
.wrap.shop-detail .sec-04 .txt-wrap .chk-list li::before {
  background-image: url(../img/icon/ico-check-b.png);
}
.wrap.shop-detail .sec-05 {
  padding: 10rem 0 18rem;
  background-color: var(--color-gray-1);
}
.wrap.shop-detail .sec-05 .step-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  z-index: 0;
}
.wrap.shop-detail .sec-05 .step-list li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 16rem;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 50%;
  background-color: var(--color-yellow-1);
  border: 0.1rem solid var(--color-yellow-3);
}
.wrap.shop-detail .sec-05 .step-list li strong {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 700;
}
.wrap.shop-detail .sec-05 .step-list li::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -50%;
  transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 0.1rem;
  background-color: var(--color-yellow-3);
  z-index: -1;
}
.wrap.shop-detail .sec-05 .step-list li:last-child::before {
  display: none;
}
.wrap.shop-detail .sec-05 .step-list li.active {
  background-color: var(--color-yellow-3);
}
.wrap.shop-detail .sec-05 .txt-wrap {
  margin-top: 6rem;
  text-align: center;
}
.wrap.shop-detail .sec-05 .txt-wrap .tit {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 700;
}
.wrap.shop-detail .sec-05 .txt-wrap .desc {
  font-size: 2rem;
  line-height: 1.5;
}
@media screen and (max-width: 960px) {
  .wrap.shop-detail .sec-kv {
    padding: 4rem 0;
  }
  .wrap.shop-detail .sec-kv .inner {
    gap: 2rem;
  }
  .wrap.shop-detail .sec-kv .left-box {
    width: 51%;
  }
  .wrap.shop-detail .sec-kv .left-box .txt-wrap {
    padding: 3.2rem 2rem;
  }
  .wrap.shop-detail .sec-kv .left-box .txt-wrap .tit {
    font-size: 3.2rem;
  }
  .wrap.shop-detail .sec-kv .left-box .txt-wrap .tit::after {
    margin: 2.4rem 0;
  }
  .wrap.shop-detail .sec-kv .left-box .txt-wrap .info {
    font-size: 1.6rem;
  }
  .wrap.shop-detail .sec-kv .left-box .txt-wrap .plan-list {
    margin-top: 2.8rem;
  }
  .wrap.shop-detail .sec-kv .left-box .txt-wrap .plan-list li {
    padding: 2.4rem;
  }
  .wrap.shop-detail .sec-kv .left-box .txt-wrap .plan-list li .period {
    font-size: 2.4rem;
  }
  .wrap.shop-detail .sec-kv .left-box .txt-wrap .plan-list li .price-wrap .price {
    font-size: 2.8rem;
  }
  .wrap.shop-detail .sec-kv .left-box .txt-wrap .plan-list li .price-wrap .price .unit {
    font-size: 2rem;
  }
  .wrap.shop-detail .sec-kv .left-box .txt-wrap .plan-list li .price-wrap .discount {
    font-size: 1.6rem;
  }
  .wrap.shop-detail .sec-kv .left-box .txt-wrap .plan-list li .price-wrap .discount span + span::before {
    width: 1.6rem;
    height: 1.6rem;
    margin: 0 0.1rem 0.2rem;
  }
  .wrap.shop-detail .sec-kv .right-box {
    padding: 2rem;
    width: 46%;
    font-size: 1.4rem;
  }
  .wrap.shop-detail .sec-kv .right-box .order-box {
    padding: 2rem;
  }
  .wrap.shop-detail .sec-kv .right-box .order-box .info-bottom {
    flex-direction: column;
    row-gap: 1rem;
  }
  .wrap.shop-detail .sec-kv .right-box .order-box .info-bottom .count {
    align-self: flex-start;
  }
  .wrap.shop-detail .sec-kv .right-box .order-box .info-bottom .price {
    align-self: flex-end;
  }
  .wrap.shop-detail .sec-kv .right-box .order-box .btn-del {
    top: 2.2rem;
    right: 2.2rem;
  }
  .wrap.shop-detail .sec-kv .right-box .total {
    gap: 1rem;
    flex-direction: column;
  }
  .wrap.shop-detail .sec-kv .right-box .total > span {
    align-self: flex-start;
  }
  .wrap.shop-detail .sec-kv .right-box .total .price {
    align-self: flex-end;
  }
}
@media screen and (max-width: 720px) {
  .wrap.main section:not(.sec-kv) .tit-wrap .tit {
    font-size: 2.4rem;
  }
  .wrap.main section:not(.sec-kv) .tit-wrap .desc {
    margin-top: 0.8rem;
    font-size: 1.6rem;
  }
  .wrap.main section.sec-kv {
    min-height: 60rem;
    background: url(../img/content/main-visual-m.jpg) no-repeat center/cover;
  }
  .wrap.main section.sec-kv .tit-wrap {
    padding-top: 6.2rem;
    text-align: center;
  }
  .wrap.main section.sec-kv .tit-wrap .sub-txt {
    font-size: 1.4rem;
  }
  .wrap.main section.sec-kv .tit-wrap .tit {
    font-size: 2.6rem;
  }
  .wrap.main section.sec-kv .tit-wrap .tit .mob-only {
    justify-content: center;
  }
  .wrap.main section.sec-kv .tit-wrap .desc {
    font-size: 1.6rem;
  }
  .wrap.main section.sec-kv .tit-wrap + .btn {
    display: none;
  }
  .wrap.main section.sec-01 {
    height: 100vh;
    min-height: 60rem;
    background: url(../img/content/main-sec01-m.jpg) no-repeat center/cover;
  }
  .wrap.main section.sec-02 {
    height: 100vh;
    min-height: 60rem;
    background: url(../img/content/main-sec02-m.jpg) no-repeat center/cover;
  }
  .wrap.main section.sec-02 .tit-wrap .tit {
    font-size: 1.8rem;
  }
  .wrap.main section.sec-02 .tit-wrap .num {
    gap: 0.8rem;
    margin-top: 0.8rem;
    font-size: 5.6rem;
  }
  .wrap.main section.sec-02 .tit-wrap .num .unit {
    font-size: 3rem;
  }
  .wrap.main section.sec-03 {
    height: 100vh;
    min-height: 60rem;
    background: url(../img/content/main-sec03-m.jpg) no-repeat center/cover;
  }
  .wrap.main section.sec-03 .tit-wrap .tit {
    font-size: 1.8rem;
  }
  .wrap.main section.sec-03 .tit-wrap .desc {
    margin-top: 1.6rem;
    font-size: 5rem;
  }
  .wrap.main section.sec-04 {
    padding: 8rem 0;
  }
  .wrap.main section.sec-04 .step-list li {
    flex-direction: column;
    gap: 2rem;
  }
  .wrap.main section.sec-04 .step-list li:nth-of-type(2n) .img-wrap {
    order: 0;
  }
  .wrap.main section.sec-04 .step-list li + li {
    margin-top: 6rem;
  }
  .wrap.main section.sec-04 .step-list .img-wrap {
    width: 61%;
  }
  .wrap.main section.sec-04 .step-list .txt-wrap {
    text-align: center;
    gap: 0.8rem;
  }
  .wrap.main section.sec-04 .step-list .txt-wrap .tag {
    font-size: 1.6rem;
  }
  .wrap.main section.sec-04 .step-list .txt-wrap .tit {
    font-size: 2.8rem;
  }
  .wrap.main section.sec-04 .step-list .txt-wrap .desc {
    font-size: 1.5rem;
  }
  .wrap.main section.sec-05 {
    height: 20rem;
    background: url(../img/content/main-sec05-m.jpg) no-repeat center/cover;
  }
  .wrap.main section.sec-05 .tit-wrap .tit {
    font-size: 3.4rem;
  }
  .wrap.main section.sec-06 .list li {
    flex-direction: column;
    gap: 4rem;
    padding: 8rem 0;
  }
  .wrap.main section.sec-06 .list li:nth-of-type(2n) .img-wrap {
    order: -1;
  }
  .wrap.main section.sec-06 .txt-wrap {
    gap: 1.2rem;
    text-align: center;
  }
  .wrap.main section.sec-06 .txt-wrap .tit {
    font-size: 2.8rem;
  }
  .wrap.main section.sec-06 .txt-wrap .desc {
    font-size: 1.5rem;
  }
  .wrap.main section.sec-06 .img-wrap {
    order: -1;
    max-width: 66.6%;
  }
  .wrap.main section.sec-07 {
    padding: 8rem 0;
  }
  .wrap.main section.sec-07 .review-swiper .swiper-slide {
    width: 68.8%;
  }
  .wrap.main section.sec-07 .review-swiper .swiper-btn-wrap {
    display: none;
  }
  .wrap.main section.sec-07 .review-item a {
    padding: 2.4rem;
  }
  .wrap.main section.sec-07 .review-item .img-wrap::before {
    padding-top: 100%;
  }
  .wrap.main section.sec-07 .review-item .txt-wrap {
    margin-top: 1.6rem;
    font-size: 1.4rem;
  }
  .wrap.shop .page-tit .tit {
    margin-bottom: 3rem;
    font-size: 2rem;
  }
  .wrap.shop .sec-kv {
    padding: 3rem 0 5rem;
  }
  .wrap.shop .sec-kv .link-list {
    gap: 1.2rem;
  }
  .wrap.shop .sec-kv .link-list li {
    width: 41.2rem;
  }
  .wrap.shop .sec-kv .link-list .txt-wrap {
    margin-top: 1.2rem;
  }
  .wrap.shop .sec-kv .link-list .txt-wrap .tit {
    font-size: 1.4rem;
  }
  .wrap.shop .sec-kv .link-list .txt-wrap .price {
    gap: 0.4rem;
    margin-top: 0.2rem;
  }
  .wrap.shop .sec-kv .link-list .txt-wrap .price .fee {
    font-size: 1.6rem;
  }
  .wrap.shop .sec-kv .link-list .txt-wrap .price .origin {
    font-size: 1.2rem;
  }
  .wrap.shop-detail .sec-kv {
    padding: 3rem 0;
  }
  .wrap.shop-detail .sec-kv .inner {
    flex-direction: column;
  }
  .wrap.shop-detail .sec-kv .left-box {
    width: 100%;
  }
  .wrap.shop-detail .sec-kv .left-box .txt-wrap {
    padding: 3.2rem 2rem;
  }
  .wrap.shop-detail .sec-kv .left-box .txt-wrap .tit {
    font-size: 2.4rem;
  }
  .wrap.shop-detail .sec-kv .left-box .txt-wrap .tit::after {
    margin: 1.6rem 0;
  }
  .wrap.shop-detail .sec-kv .left-box .txt-wrap .info {
    font-size: 1.4rem;
  }
  .wrap.shop-detail .sec-kv .left-box .txt-wrap .info .chk-list {
    margin-top: 0.6rem;
  }
  .wrap.shop-detail .sec-kv .left-box .txt-wrap .plan-list {
    margin-top: 1.6rem;
  }
  .wrap.shop-detail .sec-kv .left-box .txt-wrap .plan-list li {
    padding: 2.4rem 2rem;
  }
  .wrap.shop-detail .sec-kv .left-box .txt-wrap .plan-list li .period {
    font-size: 2rem;
  }
  .wrap.shop-detail .sec-kv .left-box .txt-wrap .plan-list li .price-wrap .price {
    font-size: 2.8rem;
  }
  .wrap.shop-detail .sec-kv .left-box .txt-wrap .plan-list li .price-wrap .price .unit {
    margin-left: 0.4rem;
    font-size: 1.8rem;
  }
  .wrap.shop-detail .sec-kv .left-box .txt-wrap .plan-list li .price-wrap .discount {
    margin-top: 0.6rem;
    font-size: 1.2rem;
  }
  .wrap.shop-detail .sec-kv .left-box .txt-wrap .plan-list li .price-wrap .discount span + span::before {
    width: 1.8rem;
    height: 1.8rem;
    margin: 0 0.2rem 0.25rem;
  }
  .wrap.shop-detail .sec-kv .left-box .txt-wrap .plan-list li + li {
    margin-top: 2rem;
  }
  .wrap.shop-detail .sec-kv .right-box {
    display: none;
  }
  .wrap.shop-detail .sec-01 .txt-wrap {
    padding: 8rem 0;
    background: url(../img/content/shop-sec01-02.jpg) no-repeat center/cover;
  }
  .wrap.shop-detail .sec-01 .txt-wrap .tit {
    font-size: 2.4rem;
  }
  .wrap.shop-detail .sec-01 .txt-wrap .price {
    margin-top: 0.6rem;
    font-size: 2rem;
  }
  .wrap.shop-detail .sec-01 .txt-wrap .price .origin {
    margin-left: 1rem;
    font-size: 1.4rem;
  }
  .wrap.shop-detail .sec-01 .txt-wrap .desc {
    margin-top: 1.6rem;
    font-size: 1.6rem;
    word-break: keep-all;
  }
  .wrap.shop-detail .sec-01 .txt-wrap .btn.primary {
    margin-top: 1.6rem;
    width: 20rem;
  }
  .wrap.shop-detail .sec-02 {
    background: url(../img/content/shop-sec02-m.jpg) no-repeat center/cover;
    height: 100vh;
    min-height: 60rem;
  }
  .wrap.shop-detail .sec-02 .txt-wrap {
    padding-top: 6rem;
  }
  .wrap.shop-detail .sec-02 .txt-wrap .sub-tit {
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
  }
  .wrap.shop-detail .sec-02 .txt-wrap .tit {
    font-size: 2.4rem;
  }
  .wrap.shop-detail .sec-02 .txt-wrap .note-txt {
    bottom: 6rem;
    font-size: 1.3rem;
  }
  .wrap.shop-detail .sec-03 .inner {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .wrap.shop-detail .sec-03 .info-list li + li {
    margin-top: 6rem;
  }
  .wrap.shop-detail .sec-03 .info-list .txt-wrap .tit {
    font-size: 2.6rem;
  }
  .wrap.shop-detail .sec-03 .info-list .txt-wrap .tit::before {
    margin-bottom: 1.2rem;
    width: 1rem;
    height: 1rem;
  }
  .wrap.shop-detail .sec-03 .info-list .txt-wrap .desc {
    margin-top: 1.2rem;
    font-size: 1.6rem;
  }
  .wrap.shop-detail .sec-03 .info-list .img-wrap {
    margin-top: 3.5rem;
  }
  .wrap.shop-detail .sec-03 .certificate {
    margin-top: 6rem;
    padding: 2rem;
  }
  .wrap.shop-detail .sec-03 .certificate::before {
    margin-right: 4rem;
    width: 17.6rem;
    height: 23.8rem;
  }
  .wrap.shop-detail .sec-03 .certificate .txt-wrap .tit {
    font-size: 3rem;
  }
  .wrap.shop-detail .sec-03 .certificate .txt-wrap .tit .sub {
    margin-bottom: 0.6rem;
    font-size: 2.4rem;
    font-weight: 400;
  }
  .wrap.shop-detail .sec-03 .certificate .txt-wrap .desc {
    margin-top: 1.6rem;
    font-size: 1.6rem;
  }
  .wrap.shop-detail .sec-03 .certificate .txt-wrap .desc.small {
    font-size: 1.4rem;
  }
  .wrap.shop-detail .sec-04 {
    flex-direction: column;
  }
  .wrap.shop-detail .sec-04 .img-wrap {
    width: 100%;
  }
  .wrap.shop-detail .sec-04 .txt-wrap {
    width: 100%;
    padding: 6rem 4rem;
  }
  .wrap.shop-detail .sec-04 .txt-wrap .tit {
    margin-bottom: 2.4rem;
    font-size: 2.4rem;
    text-align: center;
  }
  .wrap.shop-detail .sec-04 .txt-wrap .chk-list {
    margin: 0 auto;
  }
  .wrap.shop-detail .sec-04 .txt-wrap .chk-list li + li {
    margin-top: 1.6rem;
  }
  .wrap.shop-detail .sec-05 {
    padding: 6rem 0;
  }
  .wrap.shop-detail .sec-05 .step-list {
    flex-direction: column;
    gap: 5rem;
  }
  .wrap.shop-detail .sec-05 .step-list li {
    width: 16rem;
    height: 16rem;
    font-size: 1.6rem;
  }
  .wrap.shop-detail .sec-05 .step-list li strong {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
  }
  .wrap.shop-detail .sec-05 .step-list li::before {
    top: 50%;
    right: 50%;
    transform: translateY(50%);
    width: 0.2rem;
    height: 100%;
  }
  .wrap.shop-detail .sec-05 .txt-wrap {
    margin-top: 6rem;
  }
  .wrap.shop-detail .sec-05 .txt-wrap .tit {
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }
  .wrap.shop-detail .sec-05 .txt-wrap .desc {
    font-size: 2rem;
    line-height: 1.5;
  }
}